html {
  font-family: Inter, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

body {
  padding: 2em 3em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

img.header {
  width: 100%;
  height: auto;
  display: block;
}