html {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 32px;
  font-size: 3vw;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1% 2%;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

img.header {
  width: 100%;
  height: auto;
  display: block;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
